<div class="container">
  <a href="/articles">Home Page</a>
  <h2>Save Articles</h2>
  <section class="articles" style="display: flex; flex-wrap: wrap; justify-content: center">
    {{#each articles}}
    <div class="article"
      style="padding: 15px; width: 300px; margin: 10px; border-radius: 10px; box-shadow: 2px 3px 6px rgba(0,0,0,0.2)">
      <a href="{{this.url}}"><img class="article__image" src={{this.imgUrl}} width="100%" style="overflow: hidden; border-radius: 10px;" /></a>
      <div class="article__title">
        <a href="{{this.url}}"><h4>{{this.title}}</h4></a>
      </div>
      <div class="article__summary">
        <p>{{this.summary}}</p>
      </div>
      <button class="deleteButton" data-id={{this._id}}>Delete</button>
      <button class="viewCommentsButton" data-id={{this._id}}>Comments</button>
    </div>
    {{/each}}
  </section>

  <div class="comments">
    <ul class="comments__list"></ul>
    <form>
      <label>Comment:</label>
      <input type="text" class="comment">
      <button class="saveComment">Send</button>
    </form>
  </div>

</div>